.font-18 {
  font-size: 18px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-14 {
  font-size: 14px;
}
.border-none {
  border: none;
}
.p-relative {
  position: relative;
}
.xw-fit-content {
  max-width: fit-content;
}

.scale-1 {
  transform: scale(1, 1);
  transition: transform 0.4s;
}
.scale-098 {
  transform: scale(0.98, 0.98);
  transition: transform 0.4s;
}

.elevation-1 {
  box-shadow:
    0 2px 2px -1px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.elevation-2 {
  box-shadow:
    0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12),
    0 1px 8px 0 rgba(0, 0, 0, 0.2);
}
.grey-darken-4 {
  color: #212121;
}

//v-tooltip
.v-overlay-container .v-overlay__content {
  background-color: #fff !important;
  @extend .grey-darken-4;
  @extend .elevation-2;
}
